* {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
nav .nav-item {
  display: flex;
  gap: 28px;
}
nav .nav-item a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 8px 15px;
}
nav .nav-item1 {
  display: flex;
  gap: 28px;
}
nav .nav-item1 a {
  text-decoration: none;
  font-size: 20px;
  padding: 8px 15px;
  color: #7c3aed;
}

.nav-item1 a:last-child {
  background-color: #7c3aed;
  border-radius: 20px;
  color: white;
}

.nav-item1 a:hover:last-child {
  background-color: white;
  border-radius: 20px;
  color: #7c3aed;
  border: 1px solid gray;
}

.menu {
  display: none;
}

.section-first {
  text-align: center;
  background-image: url(/image/EllipsesEllipse1.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 60px 0px;
}
.section-first h1 {
  font-size: 4em;
  font-weight: bold;
  padding-top: 40px;
}
.section-first p {
  padding: 25px 0px;
}
.section-first img {
  width: 60%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.section-first button {
  border: none;
  background-color: #7c3aed;
  padding: 10px 35px;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}
.section-first button:hover {
  border: 1px solid black;
  background-color: white;
  padding: 10px 35px;
  color: #7c3aed;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}
.section-first a {
  text-decoration: none;
  color: #7c3aed;
  font-size: 16px;
  margin: 20px 0px;
}

hr {
  opacity: 0.5;
}

.section-second {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 50px 0px;
}
.section-second .second-item {
  text-align: center;
}
.section-second .second-item h3 {
  padding: 10px 0px;
}

.section-third .third-item {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 15px;
  background-color: #4c1d95;
}
.section-third .third-item h1 {
  color: white;
  font-size: 4em;
  padding: 20px 0px;
}
.section-third .third-item img {
  width: 100%;
}
.section-third .third-item h3 {
  color: white;
  opacity: 0.4;
}
.section-third .third-item p {
  color: white;
  opacity: 0.7;
  line-height: 25px;
}
.section-third .third-item button {
  border: none;
  background-color: #7c3aed;
  padding: 10px 35px;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 30px;
}
.section-third .third-item button:hover {
  border: none;
  background-color: white;
  padding: 10px 35px;
  color: #7c3aed;
  border-radius: 20px;
  font-weight: bold;
}
.section-third .third-item .third-item-conteiner {
  margin: auto;
}

.third-item-con {
  display: grid;
  grid-template-columns: auto auto;
}
.third-item-con .third-item-conteiner1 {
  display: grid;
  grid-template-columns: 70% 30%;
}

.section-fouth {
  display: grid;
  grid-template-columns: 50% auto;
  padding-top: 10px;
  gap: 10px;
}
.section-fouth img {
  width: 100%;
  height: 100%;
}
.section-fouth .fouth-item {
  display: grid;
  grid-template-columns: 70% 30%;
  overflow: hidden;
  grid-template-rows: 210px;
  gap: 10px;
}
.section-fouth .fouth-item img {
  width: 100%;
}

.section-fivth {
  text-align: center;
}
.section-fivth img {
  width: 100%;
}

@media (max-width: 376px) {
  body {
    width: auto;
  }
  nav {
    width: auto;
  }
  nav .menuu {
    display: none;
  }
  nav .nav-item1 {
    display: none;
  }
  nav .menu {
    display: block;
    font-size: 30px;
  }
  .section-first {
    width: auto;
  }
  .section-first h1 {
    font-size: 2em;
  }
  .section-third .third-item-conteiner h1 {
    font-size: 2em;
  }
  .section-second {
    grid-template-columns: auto;
    row-gap: 15px;
  }
  .section-third .third-item {
    grid-template-columns: auto;
    padding: 0px 10px;
  }
  .section-fouth {
    grid-template-columns: auto;
  }
}/*# sourceMappingURL=style.css.map */